name: Run Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r .venv/requirements.txt

      - name: Create .env file
        working-directory: ./mysite
        run: |
          cat > .env << EOF
          DEBUG=FALSE
          SECRET_KEY=test
          DJANGO_SETTINGS_MODULE=config.settings.prod
          EOF

      - name: Run tests
        working-directory: ./mysite
        run: |
          python manage.py test
